.message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: rgba($colorGreenMid, 0.9);
    z-index: 19;
    @include transition(top 500ms);

    text-align: center;
    color: #fff;
    @extend .semibold;

    &.show {
        top: $layoutHeaderHeight;
    }

    a { 
        text-decoration: underline;
        @extend .bold;
    }
}